---
import BaseLayout from '@layouts/BaseLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import BlogSection from '@components/sections/BlogSection.astro'
---

<BaseLayout title="Blog" description="Blog">
  <main>
    <PageHeader>
      <Fragment slot="title">Blog</Fragment>
      <Fragment slot="desc">Discover articles about development, technology, and more.</Fragment>
    </PageHeader>
    <BlogSection showHeader={false} />
  </main>
</BaseLayout>
