---
import BaseLayout from '@layouts/BaseLayout.astro'
import NotFoundSection from '@components/sections/NotFoundSection.astro'
---

<BaseLayout title="404" description="404">
  <main>
    <NotFoundSection />
  </main>
</BaseLayout>
