---
import BaseLayout from '@layouts/BaseLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import AboutSection from '@components/sections/AboutSection.astro'
---

<BaseLayout title="About" description="About">
  <main>
    <PageHeader>
      <Fragment slot="title"> Introduction</Fragment>
      <Fragment slot="desc"> A little bit about me and my work. </Fragment>
    </PageHeader>

    <AboutSection />
  </main>
</BaseLayout>
