---
import BaseLayout from '@layouts/BaseLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<BaseLayout title="About" description="About">
  <main>
    <PageHeader>
      <Fragment slot="title"> About</Fragment>
    </PageHeader>
  </main>
</BaseLayout>
