---
import { Icon } from 'astro-icon/components'
import { useTranslations, type LangKey } from '@i18n/utils'
import Image from 'astro/components/Image.astro'
import Profile from '@assets/profile.jpg'

const lang = Astro.currentLocale as LangKey
const t = useTranslations(lang)
---

<section class="about-section">
  <div class="container">
    <div class="intro-container">
      <div class="intro-container__content-column | flow">
        <h2>{t('about-section.intro.title')}</h2>

        <p set:html={t('about-section.intro.p1')} />

        <p>{t('about-section.intro.p2')}</p>

        <p>{t('about-section.intro.p3')}</p>

        <p set:html={t('about-section.intro.p4')} />
      </div>
      <div class="intro-container__image-column">
        <Image class="intro-container__image" src={Profile} alt="placeholder" loading="eager" />
      </div>
    </div>

    <div class="collab-container">
      <div class="collab-container__image-column">
        <Icon class="collab-container__image" name="sitepro" size="100%" />
      </div>
      <div class="collab-container__content-column | flow">
        <h2>{t('about-section.collab.title')}</h2>
        <p set:html={t('about-section.collab.p1')} />

        <p set:html={t('about-section.collab.p2')} />

        <p set:html={t('about-section.collab.p3')} />

        <p set:html={t('about-section.collab.p4')} />
      </div>
    </div>
  </div>
</section>

<style>
  .about-section {
    padding-top: 5rem;
    padding-bottom: 10rem;
  }

  .intro-container {
    display: flex;
    gap: 3rem;
  }

  .intro-container__content-column {
    flex: 2;
  }

  .intro-container__image-column {
    flex: 1;
  }

  .intro-container__image {
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--clr-border);
    border-radius: var(--rounded-lg);
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  .collab-container {
    margin-top: 4rem;
    display: flex;
    gap: 3rem;
  }

  .collab-container__image-column {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .collab-container__content-column {
    flex: 2;
  }

  .link {
    text-decoration: underline;
    text-decoration-color: var(--clr-primary-500);
  }

  .link:hover {
    color: var(--clr-primary-500);
  }

  :global([data-theme='dark']) [data-icon='sitepro'] {
    color: var(--clr-neutral-100);
  }

  :global([data-theme='light']) [data-icon='sitepro'] {
    color: var(--clr-neutral-900);
  }

  @media (max-width: 960px) {
    .intro-container {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .intro-container__image-column {
      max-width: 30rem;
      width: 100%;
    }

    .collab-container {
      margin-top: 3rem;
      flex-direction: column-reverse;
      align-items: center;
      gap: 2rem;
    }

    .collab-container__image-column {
      max-width: 30rem;
      width: 100%;
    }
  }
</style>
