---
import BaseLayout from '@layouts/BaseLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import AboutSection from '@components/sections/AboutSection.astro'
---

<BaseLayout title="Bemutatkozás" description="Bemutatkozás">
  <main>
    <PageHeader>
      <Fragment slot="title"> Bemutatkozás </Fragment>
      <Fragment slot="desc"> Egy kis háttérinfó rólam és a munkámról. </Fragment>
    </PageHeader>

    <AboutSection />
  </main>
</BaseLayout>
