---
import BaseLayout from '@layouts/BaseLayout.astro'
import PageHeader from '@components/PageHeader.astro'
---

<BaseLayout title="Rólunk" description="Rólunk">
  <main>
    <PageHeader>
      <Fragment slot="title"> Rólunk </Fragment>
    </PageHeader>
  </main>
</BaseLayout>
