---
import BaseLayout from '@layouts/BaseLayout.astro'
import HeroSection from '@components/sections/HeroSection.astro'
import ProjectsSection from '@components/sections/ProjectsSection.astro'
import BlogSection from '@components/sections/BlogSection.astro'
import ContactSection from '@components/sections/ContactSection.astro'
---

<BaseLayout title="Főoldal" description="Főoldal">
  <main>
    <HeroSection />
    <ProjectsSection />
    <BlogSection />
    <ContactSection />
  </main>
</BaseLayout>
