:root {
  --clr-neutral-950: hsl(220, 37%, 8%);
  --clr-neutral-900: hsl(223, 34%, 12%);
  --clr-neutral-800: hsl(217, 34%, 15%);
  --clr-neutral-700: hsl(215, 25%, 27%);
  --clr-neutral-600: hsl(215, 19%, 35%);
  --clr-neutral-500: hsl(215, 16%, 47%);
  --clr-neutral-400: hsl(215, 20%, 65%);
  --clr-neutral-300: hsl(213, 27%, 84%);
  --clr-neutral-200: hsl(206, 23%, 94%);
  --clr-neutral-100: hsl(210, 40%, 98%);

  --clr-primary-700: hsl(221, 79%, 50%);
  --clr-primary-600: hsl(221, 83%, 53%);
  --clr-primary-500: hsl(217, 91%, 60%);
  --clr-primary-400: hsl(213, 94%, 68%);

  color-scheme: light;
  --clr-bg: var(--clr-neutral-100);
  --clr-text: var(--clr-neutral-700);
  --clr-heading: var(--clr-neutral-900);
  --clr-border: var(--clr-neutral-300);
}

[data-theme='dark'] {
  color-scheme: dark;
  --clr-bg: var(--clr-neutral-900);
  --clr-text: var(--clr-neutral-300);
  --clr-heading: var(--clr-neutral-100);
  --clr-border: var(--clr-neutral-700);
}

.clr-primary-500 {
  color: var(--clr-primary-500);
}
